Arquivos temporários do R e RStudio
.Rhistory
.RData
.Rproj.user/

# Cache do Quarto
.quarto/
*_cache/
*_files/

# Pastas de sistema
.DS_Store
Thumbs.db
/.quarto/
.positai

**/*.quarto_ipynb
*.tif
*.ovr
*.tfw
*.aux.xml
*.vat.cpg
*.vat.dbf
*.rar